* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.fl {
  float: left;
}

.sfondo {
  background-color: #d6dbd7;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.back-band {
  background-color: #009788;
  height: 110px;
  width:100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

.container {
  width: 80%;
  min-width: 950px;
  margin: 20px auto;
  height: calc(100vh - 40px);
}

.pic {
  width: 70px;
  height: 100%;
  border: 1px solid black;
  display: flex;
}

.serving-stripe {
  display: flex;
  height: 80px;
  background-color: #8edafc;
  width: 100%;
}

.serving-stripe .bell {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto 20px;
  display: flex;
}

.serving-stripe .bell i {
  margin: auto;
  color: #8edafc;
  font-size: 20px;
}


aside {
  width: 35%;
  background-color: white;
  height: 100%;
  border-right: 1px solid #0e0e88;
}

.aside-top-stripe .left{
  display: flex;
}

.aside-top-stripe .left > div:last-child {
  margin: auto;
}

.aside-top-stripe .left, .aside-top-stripe .right, .main-top-stripe .left, .main-top-stripe .right {
  /* width: 172px; */
  width: 182px;
  border: 1px solid red;
}

.aside-top-stripe .right, .main-top-stripe .right {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}

.aside-top-stripe .right i, .main-top-stripe .right i {
  color: #b1b1b1;
  font-size: 20px;
  margin: auto 8px;
}



.search-stripe {
  background-color: #fbfaf8;
  height: 50px;
  display: flex;
  position: relative;
}

.search-stripe i {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  color: #b5b9bc;
}

input {
  width: 95%;
  height: 60%;;
  margin: auto;
  padding-left: 16%;
}

.contacts {
  overflow-y: scroll;
  height: 68.5vh;
  /* height: calc(100vh - 240); */
  /* height: 516px; */
  /* height: calc(100% - 200px); */
  border: 1px solid black;
}

.contacts > div:hover {
  background-color: #eceeee;
}

.single-contact {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid lightgrey;
  padding: 7px 14px;
}

.name {
  margin-left: 20px;
}


img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: auto;
}

.single-contact img {
  width: 70px;
  height: 70px;
}

span.name {
line-height: 70px;
}

.main {
  height: 100%;
  width: 65%;
}

.main-top {
  height: calc(100% - 70px);
  /* background-color: black; */
  background-image: url("../img/mine.jpg");
}

.main-bottom, .main-top-stripe, .aside-top-stripe {
  height: 70px;
  background-color: #f3eeea;
  display: flex;
  justify-content: space-between;
}

.msg-box {
  height: 100%;
  width: calc(100% - 140px);
  border: 1px solid black;
}
