<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>JS-HTML-CSS-BOOLZAP</title>
  </head>
  <body>

    <!-- Contenitore di tutto -->
    <div class="sfondo">
      <div class="back-band">

      </div>
      <!-- Contenitore di Visualizzazione di Vue -->
      <div id="root" class="container clearfix">
        <aside class="fl">
          <div class="aside-top-stripe">
            <div class="left">
              <div class="pic">
                <!-- <img src="img/avatar_io.jpg" alt=""> -->
                <img :src="user.avatar" alt="">
              </div>
              <div class="name fnt-sz-minor">{{user.name}}</div>
            </div>
            <div class="right">
              <i class="fas fa-circle-notch"></i>
              <i class="fas fa-comment-alt"></i>
              <i class="fas fa-ellipsis-v"></i>
            </div>

          </div>
          <div class="serving-stripe">
            <div class="bell">
              <i class="fas fa-bell-slash"></i>
            </div>
            <div class="serving-text fnt-sz-minor">
              Ricevi notifiche di nuovi messaggi
              <div>
                <a href="#"> Attiva notifiche desktop</a>
              </div>
            </div>
          </div>
          <div class="search-stripe">
            <i class="fas fa-search"></i>
            <input type="search" name="" value="" placeholder="Cerca o inizia una nuova chat">
          </div>
          <div class="contacts">
            <div v-for="(element, index) in contacts" class="single-contact" @click="clickedConversation(index)">
              <div class="box-avatar">
                <img :src="element.avatar" alt="">
                <!-- <img :src="contacts[index].avatar" alt=""> -->
              </div>
              <div class="name">
                {{element.name}}
                <!-- {{contacts[index].name}} -->
              </div>
            </div>

          </div>
        </aside>
        <div class="main fl">
          <div class="main-top">
            <div class="main-top-stripe">
              <div class="left">
                <div class="pic">
                    <img :src="contacts[activeIndex].avatar" alt="">
                </div>
                <div class="name">
                  <!-- {{element.name}} -->
                  {{contacts[activeIndex].name}}
                  <div class="fnt-sz-minor">
                    Ultimo accesso oggi alle
                  </div>
                </div>
              </div>
              <div class="right">
                <i class="fas fa-search"></i>
                <i class="fas fa-paperclip"></i>
                <i class="fas fa-ellipsis-v"></i>
              </div>
            </div>

            <!-- CHAT LIST -->
            <div class="chat-list">
              <!-- ---------------------------------------------------------- -->
<!-- ------------------------OTTAVIO------------------------------------------- -->
              <!-- <div v-for="message in contacts[activeIndex].messages"
              :class="message.status">
                <div class="chat-box user">
                  {{message.text}}
                </div>
              </div> -->
<!-- ----------------------END Ottavio---------------------------------- -->
<!-- --------------Qui funziona in parte---------- -->
              <!-- <div v-for="element in contacts[activeIndex].messages"
              :class="{
                element: true
              }">
                <div class="chat-box sent">
                  {{element.text}}
                </div>
              </div> -->
<!---------------- END Qui funziona in parte------------------------------ -->
              <div v-for="element in contacts[activeIndex].messages"
              :class="{
                'chat-row sent': (element.status === 'sent'),
                'chat-row received': (element.status === 'received')
              }">
                <div :class="{
                'chat-box sent': (element.status === 'sent'),
                'chat-box received': (element.status === 'received')}">
                {{element.text}}
                </div>
              </div>
<!-- ------------------------------------------------------------------- -->
              <!--<div class="chat-row-guest">
                <div class="chat-box">

                </div>
              </div>-->
              <!-- <div v-for="index in contacts.messages" class="chat-row">
                <div class="chat-box">
                  {{contacts.messages.text}}
                </div>
              </div> -->

            <!-- --------------------------------------------------------------- -->
            </div>
            <!-- END CHAT LIST -->

          </div>
          <div class="main-bottom">
            <div class="pic">
              <i class="far fa-smile"></i>
            </div>
            <div class="msg-box">
              <input v-model="message" type="search" name="" value="" placeholder="Scrivi un messaggio" @keyup.enter="sendMessageFx(activeIndex)">
              <!-- <input type="search" name="" value="" placeholder="Scrivi un messaggio"> -->
            </div>
            <div class="pic">
              <i class="fas fa-microphone"></i>
            </div>


          </div>

        </div>

      </div>
      <!-- END Contenitore di Visualizzazione di Vue -->

    </div>
    <!-- END Contenitore di tutto -->

    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
